<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="stylesheets/style.css">
        <title>signing</title>
    </head>

        <body>
                <!--HEADER-->
                <div class="row no-gutters" id="header-content">
                    <div class="col-md-2 float-left">
                        <img class="float-left" src='images/train.png' id="header-image"/>
                        <p class="float-right align-header">Ticketac</p>
                    </div>
                    <div class="offset-md-7 col-md-2">
                        <ul class="list-inline align-header" id="list-menu-header">
                            <li class="list-inline-item active">Connection</li>
                            <li class="list-inline-item">My last trips</li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!--CONTENT-->
                <div class="container" id="content">
                    <div class="row">
                        <div class="offset-md-4 col-md-2">
                            <form action="">
                                <div class="form-group">
                                    <p class="title-form">Sign-in :</p>
                                    <input type="text" class="form-control" id="lname" name="lname" placeholder="Email"><br>
                                    <input type="text" class="form-control" id="fname" name="fname" placeholder="Password"><br>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-danger text-center">Submit</button>
                                    </div>
                                </div>
                            </form> 
                        </div>
                        <div class="col-md-2">
                            <form action="">
                                <div class="form-group">
                                    <p class="title-form">Sign-up :</p>
                                    <input type="text" class="form-control" id="lname" name="lname" placeholder="Name"><br>
                                    <input type="text" class="form-control" id="lname" name="lname" placeholder="Firstname"><br>
                                    <input type="text" class="form-control" id="lname" name="lname" placeholder="Email"><br>
                                    <input type="text" class="form-control" id="fname" name="fname" placeholder="Password"><br>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-danger text-center">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> 

                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            
            
            <footer>
                <p class="font-italic text-center"> @ 2019 LaCapsule</p>
            </footer>
                
        
        </body>
</html>